* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* NAVBAR */
nav {
    background-color: #222;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

/* HERO SECTION */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

/* SECTIONS */
section {
    background: white;
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 10px;
}

/* GALLERY */
.images {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.images img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* BOOKING */
.booking form input,
.booking form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
}

.booking form button {
    background-color: #8b0000;
    color: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}


